$grid-light-color: #a4cc25;
$grid-dark-color: #64a407;
$brown-color: #815422;
$purple-color: rgb(155, 24, 104);

$primary-background-color: white;
$secondary-background-color:  #f2f2f2;
$active-background-color:  #ffe066;

$primary-border-color: #CCCCCC;

$primary-text-color:  #333;
$secondary-text-color:  #535353;
$inverse-text-color: white;
